// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.breed-selector {
  padding: 1em;
  margin: 1em;
  background-color: #B0DAE6;
}

#breed-selector {
  display: none;
}
