@import "bootstrap";

.content {
  margin-top: 52px;
}

.breed-img {
  max-width: 100%;
}

.flex-grid {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

//Global styles

.flex-grid .column {
  width: 32%;
  padding-top: 10px;
}

@media only screen and (max-width: 770px) {
  .flex-grid .column {
      width: 98%;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1040px) {
  .flex-grid .column {
    width:48%;
  }
}

.form-inline .form-control {
  width: auto;
  display: inline-block;
}

.form-inline .form-group {
  display: inline-block;
}

.hero {
  position: relative;
  max-width: 770px;
  text-align: center;
}

.hero-search {
  padding: 2%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.image-responsive {
  max-width: 100%;
  height: auto;
  min-width: 300px;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 1);
}