@import "bootstrap";

.card {
  width: 20rem;
  margin-bottom: 2em;
}

.card-block {
  padding: 1em;
}

.breed-img {
  max-width: 100%;
}

.flex-grid {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

//Global styles

.flex-grid .column {
  width: 32%;
  padding-top: 10px;
}

@media only screen and (max-width: 770px) {
  .flex-grid .column {
      width: 98%;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1040px) {
  .flex-grid .column {
    width:48%;
  }
}