<div class="navbar fixed-top bg-custom">
  <div class="navbar-header pull-left">
      <%= link_to "Dog Informant", root_url %>
    </div>
    <div class="navbar-header pull-right">
      <%= link_to "All Dogs", dogs_path %>
      <%= link_to "Breed Matcher", dogs_breed_matcher_path %>
    </div>
</div>